<div class="wrapper-mobile">
    <div class="mobile"><img src="/img/lone-logo.svg">Not available on Tablet or Mobile devices.</div>
</div>

<div class="wrapper">
    <header>
        <div class="container">
            <div>
                <h1 class="text-white"><i class="fas fa-smile"></i> ChatCord</h1>
            </div>
            <div class="middle">
                <h3>{{room}}</h3>
                <p>Messenger</p>
            </div>
            <div><input class="sign-out" id="signout" type="button" value="Logout"
                    onclick="window.location.href='/logout'"></input></div>
        </div>

    </header>
    <main>
        <div class="col-left">
            <div class="col-content">
                <div class="messages">
                    <h3>Private Chat</h3>
                    <div id="private-room" class="child-list1">
                        {{#each friends}}
                        <li>
                            <div onclick="location.href = '/chat/r/{{id}}';">
                                <div class="avatar">
                                    <div class="avatar-image">
                                        <div id="{{account.email}}" class="status offline"></div><img
                                            src="/img/{{account.avatar}}">
                                    </div>
                                </div>
                                <h3>{{account.name}}</h3>
                            </div>
                        </li>
                        {{/each}}
                    </div>
                    <h3>Public Chat</h3>
                    <div id="public-room" class="child-list2">
                        {{#each listPublicRoom}}
                        <li>
                            <div onclick="location.href = '/chat/r/{{id}}';">
                                <div class="avatar">
                                    <div class="avatar-image">
                                        <img src="/img/{{avatar}}">
                                    </div>
                                </div>
                                <h3>{{name}}</h3>
                            </div>
                        </li>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-content">
                <section class="message">
                    <div id="chatBoard" class="grid-message">
                        {{#each chatHistory}}
                        <div class="col-message-{{senderOrReceiver sender.email ../account.email}}">
                            <p class="name-{{senderOrReceiver sender.email ../account.email}}">{{nameOfSender
                                sender.email ../account.email sender.username}}</p>
                            <div class="message-{{senderOrReceiver sender.email ../account.email}}">
                                <p>{{msg}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
            </div>
            <div class="col-foot">
                <div class="compose">
                    <textarea class="textarea" id="chatMessage"></textarea>
                    <div class="compose-dock">
                        <div class="dock"><img src="/img/picture.svg"><img src="/img/icon.svg"><img src="/img/send.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="col-content">
                <div class="user-panel">
                    <div class="avatar">
                        {{#if account}}
                        <div class="avatar-image">
                            <div id="user-status" class="status online"></div><img src="/img/{{account.avatar}}">
                        </div>
                        <h3 id="user" data-email="{{account.email}}">{{account.name}}</h3>
                        {{/if}}
                    </div>
                </div>
                {{#if showCreateRoom}}
                <button id="btnForm" class="open-button" onclick="openForm()">Create Room</button>

                <div class="form-popup" id="myForm">
                    <form action="#" class="form-container">
                        <h1>Create Room</h1>

                        <input id="nameRoom" type="text" placeholder="Enter Name Room" name="nameRoom" required>

                        <button type="submit" class="btn">Create</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                {{/if}}
            </div>
        </div>
    </main>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>